/* Write your CSS code here */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.heading2 {
  text-align: center;
  color: #00e7ff;
  font-size: 28px;
  font-weight: bold;
  margin: 4px;
}

.image1 {
  width: 330px;
}

.list {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  border: 4px solid #00e7ff;
  border-radius: 8px;
  margin-top: 48px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #00e7ff33;
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
}

.heading {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
}

.valuesContainer {
  display: flex;
  align-items: center;
}

.valueHeading {
  text-align: right;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  width: 52px;
  margin: 0px;
  margin-left: 8px;
}

.body {
  padding-left: 24px;
  padding-right: 24px;
}

@media (min-width: 576px) {
  .body {
    padding-left: 48px;
    padding-right: 48px;
  }
  .valueHeading {
    font-size: 24px;
    width: 72px;
    margin-left: 48px;
  }
  .heading {
    font-size: 24px;
  }
  .header {
    padding: 16px;
    padding-left: 48px;
    padding-right: 48px;
  }
  .image1 {
    width: 950px;
  }
  .heading2 {
    font-size: 48px;
  }
}
